<nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">HellsBells<i class="fa fa-bell fa-2x pull-left"></i></a>
  </div>
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul *ngIf="(user | async)?.uid" class="nav navbar-nav">
      <li><a routerLink="/calendar" routerLinkActive="active">Calendario</a></li>
      <!--<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          cursos <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">WEB</a></li>
          <li><a href="#">SERVIDORES</a></li>
          <li><a href="#">DATABASE</a></li>
          <li class="divider"></li>
          <li><a href="#">FRONTEND</a></li>
          <li class="divider"></li>
          <li><a href="#">BACKEND</a></li>
        </ul>
      </li>-->
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar">
      <a href="#"><i class="fa fa-search fa-2x"></i></a>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a *ngIf="!(user | async)?.uid" (click)="login()">Ingresar</a></li>
      <li><a *ngIf="(user | async)?.uid" (click)="logout('home')" routerLink="/calendar" routerLinkActive="active">Salir</a></li>
    </ul>
  </div>
</nav>
