.custom-modal-container {
    padding: 15px;
}

.custom-modal-header[_ngcontent-c3] {
    background-color: #000;
    color: #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-content {
    background-color: #000;
    color: #fff;
}
.custom-modal-header {
    background-color: #219161;
    color: #fff;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    margin-top: -15px;
    margin-bottom: 40px;
}
.custom-modal-container[_ngcontent-c4] {
    background-color: black;
    padding: 15px;
}
.custom-modal-header[_ngcontent-c4] {
    background-color: #000;
    color: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    margin-top: -15px;
    margin-bottom: 40px;
}
.custom-modal-header[_ngcontent-c4][_ngcontent-c4] {
    background-color: #000;
    color: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    margin-top: 0;
    margin-bottom: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}