.row{
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  background-color: #fff;
}
.photo-user{
  max-width: 100px;
  margin-top: -70px;
  margin-bottom: 5px;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.card img{
  width: 100%;
}
.media-heading {
    margin-top: 10px;
    margin-bottom: 5px;
}
:host >>> .alert-md-local {
  background-color: #B7D968;
  border-color: #B7D968;
  color: #fff;
}
.well-lg {
  margin: 0 10px 10px 10px;
}
